.Calendar {
  border: 3px solid #888;
  border-radius: 5px;
  padding: 0;
  margin: 0 auto;
  margin-left: 2em;
  border-collapse: collapse;
}


.CalendarCell {
  font: san-serif;
  border: 1px solid #ccc;
  margin: 0 auto;
  padding: 10px;
  margin-right: 0px;
  text-align: center;
}


.CalendarCell:hover {
  background: #F745;
}

.CalendarCell:active {
  padding: 30px;
}

::selection {
  opacity: 0;
}
